/* Rural Studio CSS Docment */

@import url("https://use.typekit.net/yhe5lex.css");

:root {
    --rust: #a8503b;
    --dark-grey: #545454;
    --light-cream: #fcfaf5;
    --white: #fff;
    --font-sans-serif: "franklin-gothic-urw", sans-serif;
    --font-serif: "itc-galliard", serif;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
  font-family: var(--font-serif);
  color: var(--dark-grey);
  font-size: 1.75rem;
  line-height: 1.3;
  padding: 0;
  margin: 0;
  font-weight: 400;
}
.section-text--white {
    color: var(--white);
}
.container {
  max-width: 85%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem 0;
}
.container--main-section {
    max-width: 85%;
    height: 100%;
    margin: 0 auto;
    padding: 25px 0;
}
h1, h2, h3, h4, h5 {
  font-family: var(--font-sans-serif);
  text-transform: uppercase;
  line-height: 1.1;
  color: var(--dark-grey);
  font-weight: lighter;
}
h1 {
    font-size: 3.5rem;
    letter-spacing: .15em;
    font-weight: 400;
}
h1.hero {
    color: var(--white);
    padding: 0 25px;
    margin: auto;
}
h1.flex-option {
    color: var(--white);
    padding: 0 25px;
}
h2 {
    color: var(--rust);
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 30px;
}
h2.white-font {
  color: white;
}
.h2--news {
    padding: 0 20px;
}
.news__headline {
    font-size: 1.75rem;
    min-height: 6rem;
    margin-bottom: 2rem;
}
.CTA-arrow-link {
    position: relative;
    display: inline-block;
    z-index: 1;
}
a {
    color: var(--dark-grey);
    text-decoration: none;
    background-color: transparent;
}
a.hover {
    display: inline-block;
    padding: 15px 0px;
    position: relative;
    font-family: var(--font-sans-serif);
    text-transform: uppercase;
    line-height: 1.1;
    font-weight: lighter;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 500;
}
a.hover--white {
    color: var(--white);
}
a.hover:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--dark-grey);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
a.hover--white:after {
    background: var(--white);
}
a.hover:hover:after { 
    width: 100%; 
    left: 0; 
  }
/* img {
    display: block;
    width: 100%;
} 
.img--h-screenshot {
    width: 250px;
} */

/* COMPONENT STYLING */

.component img {
  max-width: initial;
  padding: 10px 0;
}
.component__img {
    border: 1px solid #ccc;
    overflow-x: auto;
}
.site-header {
    background-color: transparent;
}
.site-header--white {
    background-color: transparent;
}
.site-header__container {
    padding: 20px 0;
    max-width: 85%;
    height: 100%;
    margin: 0 auto;
}
.logo {
    width: 5rem;
    padding: 0;
}
.logo--footer {
    width: 2rem;
    margin-left: 1rem;
}
.scroll-arrow {
    background-color: transparent;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    /* transform: translateX(-50%); */
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.scroll-icon {
    padding: 1rem 0;
    margin: 0;
}
.footer {
    background-color: var(--rust);
}
.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 85%;
    height: 100%;
    padding: 2.5rem 0;
    margin: 0 auto;
}
.footer-nav__list {
    display: flex;
    padding: .5rem 0;
    margin: 0 auto;
    list-style: none;
  }
  .footer-nav__list li a {
    padding: 0 .5rem;
    font-family: var(--font-sans-serif);
    font-size: .9rem;
    color: var(--white);
    text-transform: uppercase;
    font-weight: lighter;
  }

/* SECTION BLOCKS */

.main-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 700px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.main-section--bottom {
    height: 30rem;
    min-height: 200px;
}
.copy-container {
    max-width: 900px;
    position: relative;
    height: 100%;
    padding-top: 70px;
    z-index: 1;
}
.flex-container--column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
    min-height: 50vh;
}
.main-section__image {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
}
.main-section__image--about {
    bottom: 0;
}
.main-section__image--work {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 650px;
}
.news__flex-container {
    display: flex;
}
.news__column {
    padding: 0 20px;
}

/* SECTION IMAGES */

#section-1 {
    background-image: url(../images/home-paper-bg.jpg);
}
#section-2 {
    background-image: url(../images/front-porch-initiative.jpg);
}
#section-3 {
    background-image: url(../images/home-paper-text-bg.jpg);
}
#section-4 {
    background-image: url(../images/home-hands-bg.jpg);
}
#section-5 {
    background-image: url(../images/home-support-bg.jpg);
}
/* MAIN PAGE HERO SECTION */

.main-section--hero {
    min-height: unset;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: linear-gradient(180deg,rgba(0,0,0,.3) 0,rgba(0,0,0,.05) 100%);
}
.flex-middle {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    align-items: center;
}
.flex-middle--give {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    align-items: center;
}
.video-wrapper {
    height: 100%;
    padding: 0;
    overflow: hidden;
    position: relative;
    background-image: url(img/Video-Still-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero__video {
    width: 175vh;
    height: 62vw;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
}
.hero__video-toggle {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: transparent;
    border: 0;
    margin: 5px;
    cursor: pointer;
    z-index: 4;
    opacity: .7;
    transition: opacity .3s;
}
.hero__video-toggle img {
    width: 1.5rem;
    height: 1.5rem;
}
/* TOP POP-OUT NAV */

/* nav wrap */ 

.menu-container {
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
    width: 50%;
    height: auto;
    min-height: 100%;
    padding: 150px 75px 50px;
    background: #e8e8e8;
}
.main-nav__list {
    display: block;
    list-style: none;
    padding-left: 0;
}
.nav-line {
    margin-bottom: 1.5rem;
}
.nav-line__wrapper {
    display: flex;
    justify-content: space-between;
}
.main-nav__list li a {
    font-family: var(--font-sans-serif);
    color: var(--dark-grey);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: lighter;
}
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}
  
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
    document.body.style.backgroundColor = "white";
}