/* Rural Studio CSS Docment */

@import url("https://use.typekit.net/yhe5lex.css");

:root {
    --rust: #a8503b;
    --dark-grey: #545454;
    --light-cream: #fcfaf5;
    --white: #fff;
    --font-sans-serif: "franklin-gothic-urw", sans-serif;
    --font-serif: "itc-galliard", serif;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
  font-family: var(--font-serif);
  color: var(--dark-grey);
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 30px;
}
.section-text--white {
    color: var(--white);
}
.container {
  max-width: 75rem;
  margin: auto;
  padding: 0 2rem;
}
.container--main-section {
    max-width: 85%;
    height: 100%;
    margin: 0 auto;
    padding: 25px 0;
}
h1, h2, h3, h4, h5 {
  font-family: var(--font-sans-serif);
  text-transform: uppercase;
  line-height: 1.1;
  color: var(--dark-grey);
  font-weight: lighter;
}
h1 {
  font-size: 2.5rem;
  letter-spacing: 3px;
}
h2 {
    color: var(--rust);
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 30px;
}
h2.white-font {
  color: white;
}
.CTA-arrow-link {
    position: relative;
    display: inline-block;
    z-index: 1;
}
a {
    color: var(--dark-grey);
    text-decoration: none;
    background-color: transparent;
}
a.hover {
    display: inline-block;
    padding: 15px 0px;
    position: relative;
    font-family: var(--font-sans-serif);
    text-transform: uppercase;
    line-height: 1.1;
    font-weight: lighter;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 30px;
}
a.hover--white {
    color: var(--white);
}
a.hover:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--dark-grey);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
a.hover--white:after {
    background: var(--white);
}
a.hover:hover:after { 
    width: 100%; 
    left: 0; 
  }
img {
    display: block;
    width: 100%;
}
.img--h-screenshot {
    width: 250px;
}

/* COMPONENT STYLING */

.component img {
  max-width: initial;
  padding: 10px 0;
}
.component__img {
    border: 1px solid #ccc;
    overflow-x: auto;
}
.site-header {
    background-color: transparent;
}
.site-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 85%;
    height: 100%;
    padding: 1rem 0;
    margin: 0 auto;
}
.logo {
    width: 5rem;
    padding: 0;
}
.logo--footer {
    width: 2rem;
    margin-left: 1rem;
}
.scroll-arrow {
    background-color: transparent;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.scroll-icon {
    padding: 1rem 0;
    margin: 0;
}
.footer {
    background-color: var(--rust);
}
.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 85%;
    height: 100%;
    padding: 1rem 0;
    margin: 0 auto;
}
.footer-nav__list {
    display: flex;
    padding: .5rem 0;
    margin: 0 auto;
    list-style: none;
  }
  .footer-nav__list li a {
    padding: 0 .5rem;
    font-family: var(--font-sans-serif);
    font-size: .8rem;
    color: var(--white);
    text-transform: uppercase;
    font-weight: lighter;
  }

/* SECTION BLOCKS */

.main-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 700px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.copy-container {
    max-width: 55rem;
    position: relative;
    height: 100%;
    margin: 0 auto;
    padding-top: 70px;
    z-index: 1;
}
.main-section .main-section__image--about {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 900px;
}

/* SECTION IMAGES */

#section-1 {
    background-image: url(../images/home-paper-bg.jpg);
}
#section-2 {
    background-image: url(../images/front-porch-initiative.jpg);
}