<!--RURAL DESIGN STUDIO HTML | HOME-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Components | Rural Studio Web Design Study</title>
    <link href="../css/normalize.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <script src="https://kit.fontawesome.com/94d606071c.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
    <h1>Web Components Go Here</h1>
    <h2>Typography Defaults</h2>

<!--body text-->

    <article class="component">
        <h3 class="component__name">Body</h3>
        <div class="component__img">
            <img 
                srcset="images/text-block__on-lite--paragraph.png 2x" 
                src="images/text-block__on-lite--paragraph.png" 
                alt="body screenshot"
            />
        </div>
        <div class="component__code">
            <p>Rural Studio® is an off-campus design-build program, rooted in Hale County and part of the School of Architecture, Planning and Landscape Architecture of Auburn University. Our core mission is the education of our students, coupled with research on sustainable, healthful rural living through both housing and the vital systems we foster to ensure our communities thrive. We are committed to cultivating students who are both local architects and citizens of the world.</p>
        </div>
    </article>

<!--headers-->

    <article class="component">
        <h3 class="component__name">Headings (h1, h2, h3, h4, ...)</h3>
        <div class="component__img">
            <img srcset="images/main__hero--title.png 2x" src="images/main__hero--title.png" alt="header screenshot"/>
            <img class="img--h-screenshot" srcset="images/text-block__on-lite--header2.png 2x" src="images/text-block__on-lite--header2.png" alt="header screenshot"/>
            <img class="img--h-screenshot" srcset="images/text-block__on-dark--header.png 2x" src="images/text-block__on-dark--header.png" alt="header screenshot"/>
            <img class="img--h-screenshot" srcset="images/projects-grid__card-caption.png 2x" src="images/projects-grid__card-caption.png" alt="header screenshot"/>
            <img class="img--h-screenshot" srcset="images/text-block__on-lite--CTA.png 2x" src="images/text-block__on-lite--CTA.png" alt="CTA screenshot"/>
            <img class="img--h-screenshot" srcset="images/text-block__on-dark--CTA.png 2x" src="images/text-block__on-dark--CTA.png" alt="CTA screenshot"/>
        </div>
        <div class="component__code">
            <h1>Educating Citizen Architects</h1>
            <h2>News From The Field</h2>
            <h2 class="white-font">Front Porch Initiative</h2>
            <h3>20K Projects</h3>
            <div class="CTA-arrow-link">
                <a href="#" class="hover">More <span><i class="fa-solid fa-arrow-right fa-xl"></i></span></a>
            </div>
            <div class="CTA-arrow-link--white">
                <a href="#" class="hover hover--white">More <span><i class="fa-solid fa-arrow-right fa-xl"></i></span></a>
            </div>
        </div>
    </article>

    <h2>Site Nav</h2>

    <article class="component">

<!--site header-->

        <h3 class="component__name">Headings Nav</h3>
        <div class="component__img">
            <img srcset="images/page-header.png 2x" src="images/page-header.png" alt="header nav screenshot"/>
        </div>
        <div class="component__code">
            <header class="site-header">
                <div class="container">
                    <p class="logo"><a href="#"><img class="logo" src="../images/logos/RuralStudio_Wordmark_WHT.png" alt="Rural Studio logo"></a></p>
                    <p class="site-header__menu-icon"><a href="#" class="nav-link"><i class="fa-sharp fa-solid fa-bars fa-xl" style="color: #ffffff;"></i></a></p>
                </div>
            </header>

<!--down arrow-->

        <h3 class="component__name">Scroll Arrow</h3>
        <div class="component__img">
            <img srcset="images/scroll arrow.png 2x" src="images/scroll arrow.png" alt="scroll arrow screenshot"/>
        </div>
        <div class="component__code">
                <div class="scroll-arrow">
                    <p class="scroll-icon"><a href="#"><i class="fa-solid fa-angle-down fa-2xl" style="color: white;"></i></a></p>
                </div>
        </div>
    </article>

    <article class="component">

<!--footer-->

        <h3 class="component__name">Footer</h3>
        <div class="component__img">
            <img srcset="images/full-footer.png 2x" src="images/full-footer.png" alt="footer screenshot"/>
        </div>
        <div class="component__code">
            <header class="footer">
                <div class="container">
                    <div class="site.info__left">
                        <div class="CTA-arrow-link--white">
                            <a href="#" class="hover hover--white">Join Our Mailing List <span><i class="fa-solid fa-arrow-right fa-xl"></i></span></a>
                        </div> <!--end footer CTA-->
                        <nav class="footer-nav">
                            <ul class="footer-nav__list">
                                <li class="footer-nav__list__item"><a href="#" class="nav-link nav-link--footer">FAQ</a></li>
                                <li class="footer-nav__list__item"><a href="#" class="nav-link nav-link--footer">Contact</a></li>
                                <li class="footer-nav__list__item"><a href="#" class="nav-link nav-link--footer">Privacy Policy</a></li>
                                <li class="footer-nav__list__item"><a href="#" class="nav-link nav-link--footer">Copyright Policy</a></li>
                                <li class="footer-nav__list__item"><a href="#" class="nav-link nav-link--footer">Accessibility</a></li>
                                <li class="footer-nav__list__item"><a href="#" class="nav-link nav-link--footer">Website Feedback</a></li>
                                <li class="footer-nav__list__item"><a href="#" class="nav-link nav-link--footer"><i class="fa-brands fa-facebook"></i></a></li>
                                <li class="footer-nav__list__item"><a href="#" class="nav-link nav-link--footer"><i class="fa-brands fa-instagram"></i></a></li>
                              <li class="footer-nav__list__item"><a href="#" class="nav-link nav-link--footer"><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></a></li>
                            </ul>
                          </nav>
                    </div> <!--end site.info__left-->
                    <div class="site.info__right">
                        <ul class="footer-nav__list">
                            <li class="footer-nav__list__item"><a href="#" class="nav-link nav-link--footer"><img class="logo--footer" src="../images/logos/cadc.png" alt="CADC logo"></a></li>
                            <li class="footer-nav__list__item"><a href="#" class="nav-link nav-link--footer"><img class="logo--footer" src="../images/logos/au-logo-light.png" alt="AU logo"></a></li>
                        </ul>
                    </div> <!--end site.info__right-->
                </div> <!--end footer container/flexblox-->
            </header>
    </article>

<!--Main section (light background, grey text)-->
    <h3 class="component__name">Home Page Section</h3>
        <div class="component__img">
            <img srcset="images/main__section--on-lite.png 2x" src="images/main__section--on-lite.png" alt="Main Section screenshot"/>
        </div>
    <div class="component__code">
        <section class="main-section" id="section-1">
            <div class="container">
                <div class="copy-container">
                    <h2>About</h2>
                    <p>
                        Rural Studio® is an off-campus design-build program, rooted in Hale County and part of the School of Architecture, Planning and Landscape Architecture of Auburn University. Our core mission is the education of our students, coupled with research on sustainable, healthful rural living through both housing and the vital systems we foster to ensure our communities thrive. We are committed to cultivating students who are both local architects and citizens of the world.
                    </p>
                    <div class="CTA-arrow-link">
                        <a href="#" class="hover">More <span><i class="fa-solid fa-arrow-right fa-xl"></i></span></a>
                    </div>
                    <div class=".main-section .main-section__image--about">
                        <img class=".main-section__image--about" src="../images/RS-group-color.png" alt="Three men sitting together smiling">
                    </div>
                    <div class="scroll-arrow">
                        <p class="scroll-icon"><a href="#"><i class="fa-solid fa-angle-down fa-2xl" style="color: white;"></i></a></p>
                    </div>
                </div>
            </div>
        </section>
    </div>

<!--Main section (dark background, white text)-->
<h3 class="component__name">Home Page Section: Dark Background, White Text</h3>
<div class="component__img">
    <img srcset="images/main__section--on-dark.png 2x" src="images/main__section--on-dark.png" alt="Main Section screenshot"/>
</div>
<div class="component__code">
<section class="main-section" id="section-2">
    <div class="container">
        <div class="copy-container">
            <h2 class="white-font">Front Porch Initiative</h2>
            <p class="section-text--white">
                We are working to develop a scalable, sustainable, agile, and resilient delivery process for beautiful, well-designed, high performance affordable homes that can be titled as real property while also supporting an industry of home building in underserved rural communities.
            </p>
            <div class="CTA-arrow-link--white">
                <a href="#" class="hover hover--white">More <span><i class="fa-solid fa-arrow-right fa-xl"></i></span></a>
            </div>
            <div class="scroll-arrow">
                <p class="scroll-icon"><a href="#"><i class="fa-solid fa-angle-down fa-2xl" style="color: white;"></i></a></p>
            </div>
        </div>
    </div>
</section>
</div>
      
</div>
</body>
</html>