<!--RURAL DESIGN STUDIO HTML | HOME-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Components | Rural Studio Web Design Study</title>
    <link href="../css/normalize.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <script src="https://kit.fontawesome.com/94d606071c.js" crossorigin="anonymous"></script>
</head>

<body>
    <h1>Web Components Go Here</h1>

    <h2>Typography Defaults</h2>

    <h3>Body</h3>
    <img 
        srcset="image/text-block__on-lite--paragraph.png 2x" 
        src="image/text-block__on-lite--paragraph.png" 
        alt="body screenshot"
    />

</body>