<!--RURAL DESIGN STUDIO HTML | HOME-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Components | Rural Studio Web Design Study</title>
    <link href="../css/normalize.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <script src="https://kit.fontawesome.com/94d606071c.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
    <h1>Web Components Go Here</h1>
    <h2>Typography Defaults</h2>

    <article class="component">
        <h3 class="component__name">Body</h3>
        <div class="component__img">
            <img 
                srcset="images/text-block__on-lite--paragraph.png 2x" 
                src="images/text-block__on-lite--paragraph.png" 
                alt="body screenshot"
            />
        </div>
        <div class="component__code">
            <p>Rural Studio® is an off-campus design-build program, rooted in Hale County and part of the School of Architecture, Planning and Landscape Architecture of Auburn University. Our core mission is the education of our students, coupled with research on sustainable, healthful rural living through both housing and the vital systems we foster to ensure our communities thrive. We are committed to cultivating students who are both local architects and citizens of the world.</p>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">Headings (h1, h2, h3, h4, ...)</h3>
        <div class="component__img">
            <img srcset="images/main__hero--title.png 2x" src="images/main__hero--title.png" alt="header screenshot"/>
            <img srcset="images/text-block__on-lite--header2.png 2x" src="images/text-block__on-lite--header2.png" alt="header screenshot"/>
            <img srcset="images/text-block__on-dark--header.png 2x" src="images/text-block__on-dark--header.png" alt="header screenshot"/>
            <img srcset="images/projects-grid__card-caption.png 2x" src="images/projects-grid__card-caption.png" alt="header screenshot"/>
        </div>
        <div class="component__code">
            <h1>Educating Citizen Architects</h1>
            <h2>News From The Field</h2>
            <h2 class="white-font">Front Porch Initiative</h2>
            <h3>20K Projects</h3>
        </div>
    </article>

    <h2>Site Nav</h2>

    <article class="component">

        <!--site header-->
        <h3 class="component__name">Headings Nav</h3>
        <div class="component__img">
            <img srcset="images/page-header.png 2x" src="images/page-header.png" alt="header nav screenshot"/>
        </div>
        <div class="component__code">
            <header class="site-header">
                <div class="container">
                    <p class="logo"><a href="#"><img class="logo" src="../images/logos/RuralStudio_Wordmark_WHT.png" alt="Rural Studio logo"></a></p>
                    <p class="site-header__menu-icon"><a href="#" class="nav-link"><i class="fa-sharp fa-solid fa-bars fa-xl" style="color: #ffffff;"></i></a></p>
                </div>
            </header>

        <!--down arrow-->
        <h3 class="component__name">Scroll Arrow</h3>
        <div class="component__img">
            <img srcset="images/scroll arrow.png 2x" src="images/scroll arrow.png" alt="scroll arrow screenshot"/>
        </div>
        <div class="component__code">
                <div class="scroll-arrow">
                    <p class="scroll-icon"><a href="#"><i class="fa-solid fa-angle-down fa-2xl" style="color: white;"></i></a></p>
                </div>

        </div>
    </article>
      
</div>
</body>
</html>